body {
  width: 100%;
  height: 2750px;
  background: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
}
.body-portfolio {
  height: 1900px;
}
.menu {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.menu-nav {
  width: 100%;
  height: 80px;
}
.menu-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-start;
}
.list {
  padding-top: 25px;
}
.list::after {
  position: absolute;
  top: 76px;
  width: 60px;
  margin-left: 2.9em;
  border: 2px solid #2196f3;
  border-radius: 20%;
}
.logo {
  cursor: pointer;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
  text-decoration: none;
}
.logo-st {
  cursor: pointer;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #08151f;
  text-decoration: none;
}
.logo-sta {
  cursor: pointer;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  text-decoration: none;
}
.logo:visited {
  color: #2196f3;
}
.header-menu {
  cursor: pointer;
  text-decoration: none;
  padding-left: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms ease-in-out;
}
.header-menu:hover {
  color: #2196f3;
}
.header-tel {
  cursor: pointer;
  text-decoration: none;
  margin-left: 23em;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-tel:hover {
  color: #2196f3;
}
.header-mail {
  cursor: pointer;
  text-decoration: none;
  padding-left: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-mail:hover {
  color: #2196f3;
}
.header-underline {
  position: absolute;
  top: 76px;
  width: 60px;
  margin-left: 2.9em;
  border: 2px solid #2196f3;
  border-radius: 20%;
}
.header-underline-portfolio {
  position: absolute;
  top: 76px;
  width: 60px;
  margin-left: 2.9em;
  border: 2px solid #2196f3;
  border-radius: 20%;
}
.main {
  width: 100%;
}
.main-order-title {
  width: 696px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.main-order-button {
  width: 200px;
  height: 50px;
  cursor: pointer;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-order-button-content {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  letter-spacing: 0.05em;
  margin: auto;

  color: #ffffff;
}
.main-order-section {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 600px;
  background-color: #2f303a;
  background-image: url(../images/mainimage.jpg);
}
.stats {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stats-section {
  height: 300px;
  margin-top: 2em;
}
.stats-list {
  display: inline-block;
  width: 320px;
  height: 300px;
  list-style-type: none;
  padding: 25px;
}
.stats-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
h3 {
  padding-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.stats-item-svg {
  width: 270px;
  height: 100px;
  padding: 10px;
  background-color: #f5f4fa;
}
.jobs {
  height: 386px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobs-section {
  height: 500px;
  padding-top: 25px;
}
.jobs-list {
  display: inline;
  padding-right: 25px;
  padding-left: 25px;
  list-style-type: none;
}
.jobs-image {
  width: 370px;
  height: 294px;
}
.jobs-title {
  height: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #212121;
}
.jobs-desc {
  position: absolute;
  margin-top: 225px;
  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}
.jobs-desc-text {
  text-align: center;
  color: #ffffff;
}
.team-section {
  height: 700px;
  background-color: #f5f4fa;
}
.team {
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
}
.team-list {
  width: 300px;
  height: 450px;
  text-align: center;
  display: inline-block;
  list-style-type: none;
  background: #ffffff;
  margin-left: 25px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-image {
  width: 270px;
  height: 260px;
  margin-top: 25px;
}
.team-title {
  height: 100px;
  padding-top: 50px;
  justify-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #212121;
}
.team-text-title {
  width: 300px;
}
.team-text-content {
  width: 300px;
  font-weight: normal;
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;
}
.footer {
  width: 100%;
  height: 180px;
  background-color: #2f303a;
}
.footer-portfolio {
  width: 100%;
  height: 180px;
  bottom: 0;
  background-color: #2f303a;
}
.footer-logo {
  padding-top: 25px;
}
.footer-tel,
.footer-mail {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.adress {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.filters {
  display: flex;
  justify-content: center;
  align-content: center;
}
.filter-object {
  width: 121px;
  height: 38px;
  list-style-type: none;
  margin: 60px 4px 0 4px;
}
.filter-button {
  width: 121px;
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}
.filter-button:hover {
  background-color: #2196f3;
  color: #f5f4fa;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.projects {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 1700px;
}
.project-object {
  width: 370px;
  margin: 15px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.project-object:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  padding: 24px 24px 0 24px;

  letter-spacing: 0.06em;

  color: #212121;
}
.project-filter {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding: 0 24px 0 24px;
  letter-spacing: 0.03em;
  margin: 4px 0 0 0;

  color: #757575;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.start {
  display: flex;
  justify-content: start;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-section {
  height: 400px;
}
.clients-title {
  align-content: center;
  padding-top: 3em;
  padding-bottom: 1em;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.clients {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}
.clients-list {
  list-style-type: none;
  width: 200px;
  height: 100px;
  margin: 0.5em;
}
.client-item-svg {
  padding: 20px;
  width: 200px;
  height: 100px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;

  transition: fill 0.5s ease-out;
}
.client-item-svg:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
}
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.social-icons {
  display: flex;
  justify-content: center;
  height: 55px;
  list-style-type: none;
}
.social-icon-list {
  margin: 1em;
}
.social-button {
  margin: 0.2em;
  border: none;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  fill: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms ease-in-out, fill 250ms ease-in-out;
}
.social-icon {
  width: 25px;
  height: 25px;
  stroke-width: 0;
  stroke: currentColor;
}
.social-button:hover {
  fill: #ffffff;
  background-color: #2196f3;
}
.join-us {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.join-us-section {
  padding-left: 100px;
}
.footer-icon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-icon-paint {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.object-animate {
  position: absolute;
  width: 370px;
  height: 300px;
  color: #ffffff00;
  background-color: rgba(33, 150, 243, 0);
  transform: translateY(100%);
  transition: background-color 500ms linear, transform 500ms ease-in-out,
    padding-top 500ms ease-in-out, color 500ms ease-in-out;
}
.project-object:hover .object-animate {
  transition-duration: 250ms;
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}
.object-text {
  padding: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;
}
